<div id="<%= dom_id point_of_interest %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= point_of_interest.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= point_of_interest.latitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= point_of_interest.longitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= point_of_interest.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this point of interest", point_of_interest, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this point of interest', edit_point_of_interest_path(point_of_interest), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
